:root {
    --page-margin-right: 4em;
    box-sizing: border-box;
    font-size: calc(1vw +0.6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 2em;
}

a,
a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
}

.content nav a,
.header nav a {
    font-weight: bolder;
    letter-spacing: 1px;
    padding:0 0.2em;
}


.flexbox {
    display: flex;
}

.flexbox-space-between {
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.hide{
    display: none;
}


.text-background-box {
    background-color: #fafbf4;
    border-radius: 0 5px 5px 0;
    padding: 0.2em;
    /* text-shadow: 0 0 2px #414040; */
    text-shadow: 0 0 2px #ada9a9;
}

.page-grid {
    display: grid;
    grid-template-areas:
        'header'
        'hero-image'
        'content';
}

/* -----------------------------------------header -----------------------------------------  */
.header {
    align-items: baseline;
    background-color: #000;
    display: flex;
    grid-area: header;
    width: 100%;
}


.header a {
    border-bottom: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 0.3em;
    padding-right: 0.5em;
    margin-left: 1em;

}


.header h1 {
    margin: 2em 0 0.5em 0;
    padding-left: 2em;
    padding-right: 0.5em;
}

.header img{
     align-self: flex-end;
     border-radius: 50%;
     margin-left: -0.8em;
     width: 4em;
     margin-right: 2em;
 }


.header nav {
    /* align the nav menu to the right */
    margin-left: auto;
    /* sets the right indentation of the page */
    margin-right: var(--page-margin-right);
    text-align: center;
}

.header nav a {
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-left: 1em;
}

/* -----------------------------------------hero image -----------------------------------------  */
.hero-image {
    grid-area: hero-image;
    position: relative;
}

.hero-image figcaption {
    bottom: 1.5em;
    position: absolute;
    /* sets the right indentation of the page */
    right: var(--page-margin-right);
}

/* the image will be stretched and clipped to fit 100% width */
.hero-image img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}


/* ----------------------------------------- 
        Main 
            section 1
                about-me    description
            section 2
                work    picture-grid
            section 3
                contact-me  contact-details
-----------------------------------------  */

.content {
    grid-area: content;
}
.content nav a {
    border-bottom: 2px solid #000;
    /* font-size: medium; */

}
.content section {
    /* sets the right indentation of the page */
    margin-right: var(--page-margin-right);
    margin-top: 2em;
}

/* -----------------------------------------Section -----------------------------------------  */
.section-grid {
    display: grid;
    /*(1st col 25% width)(2nd col 75% width) */
    grid-template-columns: 1fr 3fr;
    /* size of the row is auto */
    grid-template-rows: auto;
}


.section-heading {
    border-right:3px solid #000;
    font-size: 2em;
    font-weight: 600;
    margin-right: 2em;
    padding-right: 0.4em;
    text-align: right;
}

/* -----------------------------------------picture grid -----------------------------------------  */

.picture-grid {
    display: grid;
    /* 	Place items to fill any holes in the grid */
    grid-auto-flow: dense;
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    /* sets an implicit width and auto fills the gap */
    /* implicit num of columns, min width 325px */
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}
/* makes featured image twice bigger */
.picture-grid .featured {
    grid-column: span 2;
    grid-row: span 2;
}
.picture-grid figcaption {
    bottom: 2em;
    position: absolute;
}
.picture-grid figcaption span{
    font-size: x-small;
}
.picture-grid figure {
    position: relative;
}

.picture-grid img {
    height: 100%;
    width: 100%; 
}


@media (max-width: 840px) {
    .picture-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    }
   
}