
:root{
    --page-margin-right: 4em;
    box-sizing: border-box;
    font-size: calc(1vw +0.6em);

}
*, *::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {

    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}
p{
    text-align: justify;
}

ul{
    list-style-type: none;
}

.text-background-box{
    background-color: #fff;
    padding: 0.2em;
    border-radius: 0 5px 5px 0;
    text-shadow:  0 0 2px #414040;
    text-align: right;
   
}

.page-grid{
    display: grid;
    grid-template-areas: 
                        'header'
                        'hero-image'
                        'main';
 }
 .header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    background-color: #000;
    align-items: baseline;
 }
 .header a{
    color: #fff;
    letter-spacing: 1px;
 }
 .header h1{
      margin: 2em 0 0.5em 0; 
 }

 .header ul{
    display: flex;
    justify-content: right;
    margin-right: var(--page-margin-right);
 }

.header li{
    margin-left: 1em;
    border-bottom: 1px solid #fff;
    padding: 0 0.3em;
}


.hero-image{
    grid-area: hero-image;
    position: relative; 
   

}
.hero-image img{
    width: 100%;
    height: 300px ;
    object-fit: cover;

}

.hero-image figcaption{
    position: absolute;
    bottom: 1.5em;
    right: var(--page-margin-right);

}
.main{
    grid-area: main;
}
.main section{
    margin-top: 2em;
    margin-right: var(--page-margin-right);
}

.section-grid{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}
.section-heading{
   text-align: right;
   border-right: 1px solid #000;
   padding-right: 0.4em;
   margin-right: 2em;
}


.picture-grid{
    display: grid;
    /* sets an implicit width and auto fills the gap */
    /* implicit num of columns, min width auto */
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    /* 	Place items to fill any holes in the grid */
    grid-auto-flow:dense;
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}
.picture-grid figure{
    position: relative;
}
.picture-grid img {
    width: 100%;
    height:100%; 
     /* object-fit:fill;  */
}
.picture-grid .featured {
    grid-row: span 2;
    grid-column: span 2;
}
.picture-grid figcaption{
    position: absolute;
    bottom: 2em;
}

@media (max-width: 840px){
    .picture-grid{
            grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));

    }
}